@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #4ab4a8;
  --secondary-color: #ffb91d;
  --text-color: #ffffff;
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
body {
  margin: 0;
  background-color: var(--primary-color);
}

/* Navbar style */
.navbar {
  background: linear-gradient(to right, #e6a317, #ffb91d);
  box-shadow: var(--shadow);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0 1rem;
}
.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 1rem 0;
}

.navbar-logo a {
  color: var(--text-color);
  display: flex;
  align-items: center;
  text-decoration: none;
  /* font-size: 1.5rem; */
}
.navbar-logo a h2 {
  font-size: 1.5rem;
  font-family: Fredoka, sans-serif;
  font-weight: 700;
}
.navbar-logo a img {
  width: 100px;
  height: 50px;
  margin-right: 20px;
}

@media screen and (max-width: 480px) {
  .navbar-container {
    padding: 6px 10px;
  }
  .navbar-logo img {
    height: 35px;
    width: 70px;
    margin-right: 10px;
  }
  .navbar-logo a h2 {
    font-size: 0.9rem;
    max-width: 220px;
  }
  .navbar.scrolled .navbar-logo img {
    height: 30px;
  }
  
  .navbar.scrolled .navbar-logo h2 {
    font-size: 0.85rem;
  }
}
.container {
  min-height: 100vh;
}
.ibikkg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 200px;
  background-color: #ffb91d;
}
.triangle {
  width: 0;
  height: 0;
  margin-top: 130px;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 75px solid #4ab4a8;
}

.ibikkg img {
  margin-top: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 120px;
  height: 120px;
}
.manissecukupnya {
  text-align: center;
  display: flex;
  justify-content: center;
}
.manissecukupnya img {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 740px;
  height: 330px;
}
.tagline {
  text-align: center;
  color: white;
  margin-top: 20px;
}
.tagline h1 {
  font-size: 2rem;
  font-family: fredoka, sans-serif;
}

.tagline button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ffb91d;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border: transparent;
}
.button-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button img {
  width: 30px;
  padding: 5px;
  height: 30px;
}
button:hover {
  background-color: #e6a317;
  border: transparent;
  transition: 0.3s;
}
.hendi {
  /* background-color: tomato; */
  position: absolute;
  top: 550px;
  right: 1250px;
}
.hendi img {
  width: 400px;
  height: 400px;
}
.page-2 {
  min-height: 100vh;
  color: #ffffff;
}
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 80px;
  margin-top: 90px;
  /* background-color: #e6a317; */
}

.page-2 img {
  width: 800px;
  height: 500px;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  text-align: justify;
}
aside .data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: min-content;
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 24px;
}
