@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
body {
  margin: 0;
  background-color: #4ab4a8;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  min-height: 100vh;
}
.ibikkg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 200px;
  background-color: #ffb91d;
}
.triangle {
  width: 0;
  height: 0;
  margin-top: 130px;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 75px solid #4ab4a8;
}

.ibikkg img {
  margin-top: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 120px;
  height: 120px;
}
.manissecukupnya {
  text-align: center;
  display: flex;
  justify-content: center;
}
.manissecukupnya img {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 740px;
  height: 330px;
}
.tagline {
  text-align: center;
  color: white;
  margin-top: 20px;
}
.tagline h1 {
  font-size: 2rem;
  font-family: fredoka, sans-serif;
}

.tagline button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ffb91d;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border: transparent;
}
.button-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button img {
  width: 30px;
  padding: 5px;
  height: 30px;
}
button:hover {
  background-color: #e6a317;
  border: transparent;
  transition: 0.3s;
}
.hendi {
  /* background-color: tomato; */
  position: absolute;
  top: 550px;
  right: 1250px;
}
.hendi img {
  width: 400px;
  height: 400px;
}
.page-2 {
  min-height: 100vh;
  color: #ffffff;
}
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 80px;
  margin-top: 90px;
  /* background-color: #e6a317; */
}

.page-2 img {
  width: 800px;
  height: 500px;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
 text-align: justify;
}
aside .data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: min-content;
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 24px;
}
